* {box-sizing: border-box; }
p { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif}

header img { max-width: 25%;
            float: left; }
header h1 { max-width: 75%;
            float: left; }
nav { clear: both; }

header li { float: left; 
            list-style-type: none}

article { clear: both;
          float: left; 
          width: 70%; 
          padding: 1rem;
          background-color: aqua;}

aside {   float: right;
          width: 30%;
          padding: 2rem;
          background-color: pink;}

footer {  clear: both;
          padding-left: 2rem;}
