header img {
  width: 33%;
  border: 2px solid black;
}
/*--rem is a unit of measurement based on  the context in which it is being viewed. --*/
article img {
  width: 35rem;
}
/* more specific takes precedence*/
a {
  text-decoration: none;
}
nav a {
  text-decoration: underline;
}
/* more recent takes precedence */
<<<<<<< HEAD
p {color: magenta; }
p {color: yellow; }

=======
p { color: magenta; }
p { color: hotpink; }
>>>>>>> master
